$colors: (
        success: #10B981,
        error: #EF4444,
        warning: #F59E0B,
        caution: #f5ce0b,
        info: #06B6D4,
);

:root {
  --sio-color-white: #FFFFFF;

  --sio-color-primary: #3B82F6;
  --sio-color-success: #10B981;
  --sio-color-error: #EF4444;
  --sio-color-warning: #F59E0B;
  --sio-color-caution: #f5ce0b;
  --sio-color-info: #06B6D4;

  --sio-color-primary-rgb: 59, 130, 246;
  --sio-color-error-rgb: 239, 68, 68;



  --sio-btn-primary-bg: var(--sio-color-primary);
  --sio-btn-primary-border: var(--sio-color-primary);
  --sio-btn-primary-text: var(--sio-color-white);

  --sio-btn-secondary-bg: transparent;
  --sio-btn-secondary-border: var(--sio-color-primary);
  --sio-btn-secondary-text: var(--sio-color-primary);

  --sio-btn-link-bg: transparent;
  --sio-btn-link-border: transparent;
  --sio-btn-link-text: var(--sio-color-primary);
}